body{
    background-color: white;
    font-family: Arial, sans-serif;
}
.startNav{
    display: flex;
    margin-left: 0px;
    padding: 20px;
    height: 50px;
    background-color: white;
    border: 7px solid green;
}


.startNav div{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
   
    font-size: 20px;
}

.startNav img{
    max-width: 100px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 25px;
}
.darkandSign{
    padding: 0px;
   
}
.darkandSign button{
    background-color: green;
    border-radius: 10px;
    display: none;
   
}
.darkandSign a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.mainSection {
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: fit-content;
    border: 10px solid black;
    margin-bottom: 10px;
    text-align: center;
}
.prayer-times {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 1.5rem;
    }

.card {
      background: rgba(255, 255, 255, 0.15);
      border-radius: 12px;
      backdrop-filter: blur(8px);
      padding: 1.5rem;
      text-align: center;
      box-shadow: 0 4px 12px rgba(0,0,0,0.3);
      transition: transform 0.2s ease;
      color: gray;
    }
.welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}
.welcomeText {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    font-size: 24px;
    color: white;
    background-color: green;
    padding-right: 30px;
    padding-left: 20px;
    
   
}
.masjidImg{
    border: 2px solid green;
    max-width: 700px;
}
.masjidImg img {
    width: 100%;
    height: 100%;
}
.features {
    display: flex;
    flex-direction: column;
    
}
.featuresSection{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.featureSection{
    background-color: white;
    border: 2px solid green;
    margin-right: 10px;
    padding: 20px;
}
footer {
    display: flex;
    justify-content: center;
}

.verse {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.explainer {
    font-size: 15px;
    color: green;
    margin-top: -5px;
    margin-bottom: 20px;
}
.masjid {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.masjidList {
    border: 2px solid green;
    display: flex;
   justify-content: left;
   width: 40%;
}
.masjidBox {
    border: 2px solid green;
    padding: 20px;
    margin: 10px;
    width: fit-content;
    background-color: green;
    color: white;
    border-radius: 10px;
}
.endNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border: 7px solid green;
}
.end-logo img{
    max-width: 100px;
}
.end-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.nav-links-end{
    display: flex;
    
    align-items: center;
    gap: 20px;
    flex-direction: row;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.nav-links-end a{
    text-decoration: none;
    color: black;
}
.aboutHeader {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    font-size: large;
    border: 2px solid green;
    padding-left: 10px;
}
.teamMembersTitle {
    margin-bottom: 20px;
    font-size: 4vh;
    text-align: center;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.teamMemberCard {
    display: flex;
    flex-direction: row;
    font-size: 3vh;
    align-items: center;
    justify-content: center;
    border: 10px solid black;
    background-color: green;
    color: white;
}

@media (max-width: 900px) {
    .startNav{
        flex-direction: column;
        font-size: 20px;
        margin-right: 0px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        border: solid 2px green;
        height: auto;
        
    }
    .nav-links-end{
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    .mainSection {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }
    .mainSection div {
        text-align: center;
    }
    .featuresSection{
        display: flex;
        flex-direction: column;
    }
    .featureSection{
    margin-bottom: 30px;
}

}